<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>Informe das Equipes</h1>

    <form name="quadribol" action="" method="POST">
            <div class="form-group"> 
    <div class="row">
        <% for (var i = 0; i< 16; i++){
            var num = i+1;
            %>                
        <div class="col-sm-6">
            <input class="form-control form-control-lg" type="text" name="equipes" value="Time <%=num%>">
        </div>
        <%}%> 
    </div>
</div>
    <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
   
</div>