<%- contentFor('body') %>
<div class="jumbotron text-center">
    <h1>O grande vencedor é: </h1>
       
    <img src="calicefogo.png" width="50%" class="rounded-circle"> 
    
    <h2><%=Vencedor %></h2>
</div>