html{
    width: 400px;
    background-color: lightgrey;
    font-family: sans-serif;
  }
    
  .content{ 
    height: 100%;
  }

  .content-center{
    
    width: 50%;
    height: 100%;
    margin: auto;
    position: absolute;
   left: 0; right: 0;
  }

  .logo > img {
    width: 100%;
  }
  
  .menu, .conteudo{
    padding: 50px;
    background-color: white;
  }
  .menu ul>li {
    padding-bottom: 20px;
    display: inline-block;
    width  : 100px;
  }

  #sobre {
    margin: auto auto;
  }

  #sobre table{
    display: inline-block;
    min-width: 500px;
  }

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button[type=submit], button[type=reset], button {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
label{
  padding: 5px 15px;
  display: inline-block;
}