<%- contentFor('body') %>
<div class="jumbotron text-center">
<h1>Cadastro de nomes</h1>
<form name="nome" action="" method="POST">
    <div class="form-group">
        <label for="nomes">Quem irá participar?</label>
        <textarea class="form-control" name="nomes" rows="10">Thassya, Talita, Simony, Tatiane</textarea> 
    </div>

    <button type="submit" class="btn btn-dark">Pronto!!</button>
</form>
</div>