<%- contentFor('body') %>
<div class="jumbotron text-center">
<h1>Cadastro de nomes</h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">Participante</th>
      <th scope="col">Amigo Oculto</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i in amigos){
      var par = amigos[i];
    %>
    <tr>               
        <td><img  src="marrom.png"><%=par.nome1%></td>
        <td><img  src="laranja.png"><%=par.nome2%></td>
    </tr>
    <%}%>
  </tbody>
  </table> 
</div>