<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>TRB 2 - DCC 195</title>
    <link rel="stylesheet" href="css/basic.css">
  </head>
  <body>
   <div class="logo">
      <img  src="maroto.png" alt="Slytherin Pride">
    </div>

    <h2>Index Page</h2>

  </body>
</html>